<ion-header class="ion-no-border" mode="" [translucent]="true">
  <ion-toolbar class="ion-padding">
      <ion-back-button defaultHref="folder/:id" slot="start"></ion-back-button>
    <ion-title slot="start">Contactos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" routerLink='invitar-amigos'>
    <ion-avatar slot="start">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-avatar>
    <ion-label class="ion-text-nowrap">
      <h2>Invitar amigos</h2>
    </ion-label>
  </ion-item>


  <div class="chat-list">
    <div class="recent-chats ion-padding">
      <div class="heading">
        <ion-searchbar showCancelButton="focus" slot="start"></ion-searchbar>
      </div>
      <div class="chats">
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/320" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Carlitos lechuga</h2>
            <p>1000 contactos en Telegram</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/323" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Pepe Grillo</h2>
            <p>1000 contactos en Telegram</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/321" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Sebastian Onofre</h2>
            <p>1000 contactos en Telegram</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/324" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Papa frita</h2>
            <p>1000 contactos en Telegram</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/327" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Profe Arturo</h2>
            <p>1000 contactos en Telegram</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
