<ion-header class="ion-no-border" mode="" [translucent]="true">
  <ion-toolbar class="ion-padding">
    <div class="info">
      <ion-back-button name="chevron-back-outline" defaultHref="folder/:id"></ion-back-button>
      <ion-avatar>
        <img src="https://i.pravatar.cc/329" alt="">
      </ion-avatar>
      <span class="details">
        <h1>JC</h1>
        <p>Online</p>
      </span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>
      <h2>Cuenta</h2>
    </ion-label> 
  </ion-item>  
  <div>
    <div>
      <div>
        <ion-item lines="none" routerLink="">
          <ion-label class="ion-text-nowrap">
            <h2>+56 9 9756 6652</h2>
            <p>Toca para cambiar numero</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-label class="ion-text-nowrap">
            <h2>Ninguno</h2>
            <p>Nombre de usuario</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-label class="ion-text-nowrap">
            <h2>Biografía</h2>
            <p>Añade algunas palabras sobre ti</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>
      <h2>Ajustes</h2>
    </ion-label> 
  </ion-item>  
  <div>
    <div>
      <div>
        <ion-item lines="none" routerLink="">
          <ion-icon name="notifications"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Notificaciones y sonidos</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Privacidad y seguridad</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="analytics"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Datos y almacenamiento</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="chatbubble"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Chats</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="happy"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Stickers y emojis</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="folder"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Carpetas de chats</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="phone-portrait"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Dispositivos</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="globe"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Idioma</h3>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>  
</ion-list>

<ion-list>
  <ion-item lines="none" routerLink="">
    <ion-icon name="star"></ion-icon>
    <ion-label class="ion-text-nowrap">
      <h3>Telegram Premium</h3>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>
      <h2>Ayuda</h2>
    </ion-label> 
  </ion-item>  
  <div>
    <div>
      <div>
        <ion-item lines="none" routerLink="">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h2>Hacer una pregunta</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="help-circle"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h2>Preguntas frecuentes</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-icon name="shield-checkmark"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h2>Politica de Privacidad</h2>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</ion-list>

<ion-list>
  <ion-label id="version">
  <p>Telegram para Android v9.0.2 (2808) store bundled armeabi-v7a armeabi</p>
  </ion-label>
</ion-list>

</ion-content>
