
  <ion-toolbar>
    <div class="header ion-padding">
      <div class="info">
        <ion-back-button name="chevron-back-outline" defaultHref="folder/:id"></ion-back-button>
        <ion-avatar>
          <img src="https://i.pravatar.cc/243" alt="">
        </ion-avatar>
        <span class="details">
          <h1>Bananero</h1>
          <p>Online</p>
        </span>
      </div>
      <div class="calling">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-icon name="call-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
  
<ion-content>
  <div class="conversation ion-padding">
    <div class="chat-section" id="chat">
      <div class="chat">
        <div class="yours messages">
          <div class="message other">
            HEY
          </div>
          <div class="message other">
            COMO TAI?
          </div>
          <div class="last-message-other">
            <ion-avatar>
              <img src="https://i.pravatar.cc/243" alt="">
            </ion-avatar>
            <div class="message last">
              wena, y tu ?
            </div>
          </div>
          <span>1:4 PM</span>
        </div>
        <div class="mine messages">
          <div class="message">
            BIEN GRACIA!
          </div>
          <div class="message last">
            como tai tu ?
          </div>
          <span>
            <ion-icon name="checkmark-done-outline"></ion-icon>1:44 PM
          </span>
        </div>
        <div class="yours messages">
          <div class="message other">
            HEY
          </div>
          <div class="message other">
            COMO TAI?
          </div>
          <div class="last-message-other">
            <ion-avatar>
              <img src="https://i.pravatar.cc/243" alt="">
            </ion-avatar>
            <div class="message last">
              wena, y tu ?
            </div>
          </div>
          <span>1:4 PM</span>
        </div>
        <div class="mine messages">
          <div class="message">
            BIEN GRACIA!
          </div>
          <div class="message last">
            como tai tu ?
          </div>
          <span>
            <ion-icon name="checkmark-done-outline"></ion-icon>1:44 PM
          </span>
        </div>
      </div>
    </div>
    <div class="message-input">
      <ion-input placeholder="Escriba su mensaje..."></ion-input>
      <div class="send-button">
        <ion-icon name="send-sharp"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
