<ion-header>
  <ion-toolbar class="info">
    <ion-back-button defaultHref="folder/:id" slot="start"></ion-back-button>

    <ion-avatar slot="start">
      <img src ="https://i.pravatar.cc/321" alt="">
    </ion-avatar>
    <span class="details">
      <h1>Bananero</h1>
      <p>Online</p>
    </span>
    <div>
      <div class="calling">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-icon name="call-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
