<ion-header>
  <ion-toolbar class="info">
    <ion-back-button defaultHref="folder/:id" slot="start"></ion-back-button>

    <ion-avatar slot="start">
      <img src ="https://i.pravatar.cc/321" alt="">
    </ion-avatar>
    <span class="details" slot="start">
      <h2>Bananero</h2>
      <p>Online</p>
    </span>
    <div class="calling" slot="end">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-icon name="call-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
