ion-toolbar{
    ion-avatar{
      width: 50% !important;
      height: 100% !important;
    }
    --background: #7c7899;
    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      letter-spacing: 1px;
      height: 10vh;
      ion-icon{
        font-size: 1.4rem;
        color: #fff;
        margin-left: 5px;
      }
      .info{
  
        display: flex;
        align-items: center;
        ion-avatar{
              max-width: 51px;
              max-height: 51px;
              margin-left: 0px;
        }
        .details{
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          h1,p{
            margin: 0;
            color: #fff;
            margin-left: 0px;
          }
          h1{
            font-size: 1.2rem;
            font-weight: bold;
          }
          p{
            opacity: 0.7;
            margin-top: 3px;
            font-size: 0.8rem;
          }
        }
      }
      .calling{
        ion-icon{
          margin-right: 4px;
          opacity: 0.7;
        }
      }
    }
  }
  
  ion-content{
    .conversation{
      background: rgb(104, 126, 253);
      height: 90vh;
      .chat-section{
        height: calc(100% - 90px);
        overflow: scroll;
  
  
          .chat{
             display: flex;
             flex-direction: column;
  
            .messages{
               display: flex;
               flex-direction: column;
               .message{
                  border-radius: 18px;
                  padding: 18px 20px;
                  margin-top: 5px;
                  margin-bottom: 5px;
                  font-size: 0.9rem;
            }
          }
          .yours{
            align-items: flex-start;
            span{
              font-size: 0.7rem;
              color: #a6a6a6;
              margin-left: 40px;
            }
            .message{
              background:  rgb(2, 6, 247);
              position: relative;
            }
            .message.last{
              &:before{
                content: "";
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: -7px;
                height: 20px;
                width: 20px;
  
              }
              &:after{
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: -10px;
                width: 10px;
                height: 20px;
  
              }
            }
            .last-message-other{
              display: flex;
              align-items: center;
              margin-bottom: 5px;
              ion-avatar{
                max-width: 30px;
                max-height: 30px;
                margin-right: 15px;
                margin-bottom: 7px;
              }
            }
          }
          .mine{
            align-items: flex-end;
            span{
              font-size: 0.7rem;
              color: #a6a6a6;
              display: flex;
              align-items: center;
              margin-right: 10px;
              ion-icon{
                font-size: 1.1rem;
              }
            }
            .message{
              color: #fff;
              margin-left: 25%;
              background: #feacac;
              background-attachment: fixed;
              position: relative;
            }
            .message.last{
              &:before{
                content: "";
                position: absolute;
                z-index: 0;
                bottom: 0;
                right: -8px;
                height: 20px;
                width: 20px;
                background-attachment: fixed;
  
              }
              &:after{
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: -10px;
                width: 10px;
                height: 20px;
              }
            }
          }
          .other{
            margin-left: 45px;
          }
        }
      }
      .message-input{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 20px;
        width: 90vw;
        left: 50%;
        margin-left: -45vw;
        ion-input{
          border: 1px solid #ddd;
          background: #ddd;
          border-radius: 20px;
          height: 48px;
          --padding-start: 20px
        }
        .send-button{
          margin-left: 20px;
          background: #feacac;
          padding: 12px 12px 9px 15px;
          border-radius: 50%;
          color: #fff;
          font-size: 1.31rem;
        }
      }
    }
  }
  