ion-header{
    ion-toolbar{
      --background: #7c7899;
      font-family: "Satisfy",cursive !important;
      letter-spacing: 2px;
      font-size: 2rem !important;
      color: #fff;
      ion-title{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 5px;
        font-size: 1.6rem !important;
      }
    }
  }