
<ion-header class="ion-no-border" mode="" [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">Telegram</ion-title>
    <ion-icon name="search-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-list" *ngIf="activeTab === 'chats'">
    <div class="recent-chats ion-padding">
      <div class="chats">
        <ion-item lines="none" routerLink="/chats">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/321" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>El Bananero</h2>
            <p>Escribiendo...</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>12:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/324" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Papa</h2>
            <p>nos vemos</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>17:22</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/327" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Profe</h2>
            <p>te sacaste un 1</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>12:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/327" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Profe</h2>
            <p>te sacaste un 1</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>12:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/327" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Profe</h2>
            <p>te sacaste un 1</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>12:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/329" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Julio Contesse Duoc</h2>
            <p>hola</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>13:10</p>
          </div>
        </ion-item>
        <ion-item lines="none" routerLink="">
          <ion-avatar slot="start">
            <img src="https://i.pravatar.cc/329" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>Julio Contesse Duoc</h2>
            <p>hola</p>
          </ion-label>
          <div class="info-div">
            <ion-badge>1</ion-badge>
            <p>13:10</p>
          </div>
        </ion-item>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
